img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

:host {
  display: flex;
  flex: 1;
}

mat-toolbar.mat-toolbar {
  position: absolute;
  background: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.4));
}

mat-toolbar span {
  flex: 1;
}

#wrapper {
  flex: 1;
  justify-content: center;
  background: black;
  position: relative;
  display: flex;
}

mat-list {
  width: 360px;
}

mat-list.handset {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
}

h3 {
  display: flex;
  justify-content: space-between;
}

h4 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 16px;
}

p[mat-line].mat-line {
  display: flex;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 14px;
  margin-top: 4px;
}

p[mat-line] > span {
  margin-right: 15px;
}
