img {
  max-width: 100%;
}

:host {
  display: flex;
}
#wrapper {
  flex: 1;
  text-align: center;
}
mat-list {
  width: 360px;
}
h4 {
  color: rgba(0,0,0,0.87);
  font-size: 16px;
  line-height: 16px;
}
p[mat-line].mat-line {
  display: flex;
  color: rgba(0,0,0,0.54);
  font-size: 14px ;
  line-height: 14px;
  margin-top: 4px;
}
p[mat-line] > span {
  margin-right: 15px;
}
