.item {
  width: 196px;
  display: block;
  float: left;
  text-decoration: none;
  color: initial;
  margin: 4px;

  position: relative;
}

.cover {
  width: 196px;
  height: 196px;
  object-fit: cover;
  transition: transform 0.2s;
  display: block;
}

.cover:hover {
  transform: scale(1.04);
}
.avatar {
  border-radius: 50%;
  margin-right: 4px;
  /*width: 20px;*/
  /*height: 20px;*/
  /*vertical-align: bottom;*/


  height: 24px;
  width: 24px;
  top: -12px;
  position: absolute;
}

.title {
  /*font-weight: bold;*/
  margin-top: 16px;
  display: block;
  font: 400 17px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.count {
  color: rgba(0, 0, 0, 0.54);
}

.info {
  bottom: 0;
  height: 56px;
  left: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  text-decoration: none;
  color: white;
  display: block;
}
